<a href="https://colab.research.google.com/github/UnplugCharger/Paris-Cars-Analysis/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_05_Isaac_Byron_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

# Importing our libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading our datasets

In [31]:
url='http://bit.ly/autolib_dataset'
paris = pd.read_csv(url)
paris.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# Exploring our data

In [32]:
paris.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [33]:
paris.tail(30)

                                           Address  Cars  ...  hour  minute
4970                  41 boulevard de Rochechouart     0  ...     4      26
4971                   63 Boulevard Richard Lenoir     4  ...     8       3
4972                           6 avenue des Ternes     2  ...     7      54
4973                                 18 Rue Balard     5  ...    13      34
4974   188 Rue du Lieutenant-Colonel de Montbrison     4  ...     0      27
4975              91 Rue du Faubourg Saint-HonorÃ©     0  ...     1      21
4976                          2 Avenue RenÃ© Fonck     1  ...    18      34
4977                         1 rue de Chanaleilles     0  ...    19      51
4978                            42 Rue Victor Hugo     6  ...     8      30
4979                         62 rue Victor Beausse     4  ...    15      49
4980                          204 rue Saint-Martin     0  ...     3      14
4981                         59 Boulevard Voltaire     0  ...     7      33
4982                          62 Avenue Parmentier     4  ...    23      30
4983                  4 avenue de la SÅur Rosalie     1  ...     9      14
4984                               20 Rue Gambetta     5  ...    14       0
4985               6 place du PrÃ©sident Mithouard     2  ...     2      35
4986                      16 Rue Charles de Gaulle     3  ...     4       3
4987                            6 place Abel Gance     6  ...     6      41
4988                                  62 Rue Ramey     5  ...    11       0
4989                                3 Rue Mongenot     4  ...     7      28
4990                    47 boulevard de l'HÃ´pital     0  ...    21      13
4991  56 avenue du MarÃ©chal de Lattre de Tassigny     5  ...    20      43
4992                               3 avenue d'Ivry     0  ...    23       1
4993                    6 avenue Charles-de-Gaulle     6  ...     4      43
4994                              15 rue de Rocroy     0  ...    20      49
4995                           8 avenue MÃ©nelotte     2  ...    11      26
4996                             37 rue de Dantzig     4  ...    16      56
4997                                142 rue du Bac     1  ...     7       1
4998                   2 avenue du Val de Fontenay     2  ...    17      27
4999                           5 Rue Henry Brisson     4  ...    10       2

[30 rows x 25 columns]

In [34]:
paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [35]:
paris.duplicated().sum()

0

# Data Cleaning

In [36]:
paris.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [37]:
paris['City'].unique()

array(['Paris', 'Le Bourget', 'Nanterre', 'Puteaux', 'Fontenay-aux-Roses',
       'Le Chesnay', 'Suresnes', 'Versailles', 'Malakoff',
       'Issy-les-Moulineaux', 'Saint-Cloud', 'SÃ¨vres', 'Bezons',
       'Nogent-sur-Marne', 'CrÃ©teil', 'Villejuif', 'Rueil-Malmaison',
       'Villeneuve-la-Garenne', 'Montreuil', 'Charenton-le-Pont',
       'Courbevoie', 'AsniÃ¨res-sur-Seine', 'Garches', 'Drancy',
       'La Garenne-Colombes', 'VerriÃ¨res-le-Buisson', 'Le Blanc-Mesnil',
       'Vanves', 'Enghien-les-Bains', 'Sceaux', 'Levallois-Perret',
       'Boulogne-Billancourt', 'ChÃ¢tenay-Malabry', 'Pantin', 'Meudon',
       'Gennevilliers', 'Vincennes', 'Rungis', 'Colombes',
       'Fontenay-Sous-Bois', 'Rosny-sous-Bois', 'Bourg-la-Reine',
       'Cachan', 'Maisons-Alfort', 'BiÃ¨vres', 'Alfortville',
       'Champigny-sur-Marne', 'Aulnay-sous-bois', 'Saint-Denis',
       'Le Plessis-Robinson', 'Le PrÃ©-Saint-Gervais', 'Clamart',
       'Bois-Colombes', 'Guyancourt', 'Bagnolet', 'Vaucresson',
       'Limeil-BrÃ©vannes', 'Saint-Maurice', 'Romainville',
       'VÃ©lizy-Villacoublay', 'Arcueil', 'Saint-Ouen',
       'Clichy la garenne', 'Meudon-la-ForÃªt', 'Clichy-la-Garenne',
       "Ville-d'Avray", 'Argenteuil', 'Noisy-le-Sec', 'Saint-MandÃ©',
       'Neuilly-sur-Seine', 'Clichy-sous-Bois', 'Montfermeil', 'Antony',
       'Bagneux', 'Epinay-sur-Seine', 'ChÃ¢tillon',
       'Ã\x89pinay-sur-Seine', 'Yerres', 'Dugny', 'Joinville-le-Pont',
       'Neuilly-Plaisance', 'Montrouge', 'Sucy-en-Brie', 'Chaville',
       'Saclay', 'Les Lilas', 'Saint-Maur', 'Aubervilliers'], dtype=object)

In [0]:
ideal_set =paris[paris.City == 'Paris']

In [39]:
ideal_set.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2

[5 rows x 25 columns]

In [57]:
ideal_set.head()

   Bluecar counter  Utilib counter  ...  day hour
0                0               0  ...    8   11
1                6               0  ...    6    7
3                3               1  ...    4    4
4                3               0  ...    8   17
5                0               0  ...    6    7

[5 rows x 10 columns]

In [41]:
ideal_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2816 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              2816 non-null   object
 1   Cars                 2816 non-null   int64
 2   Bluecar counter      2816 non-null   int64
 3   Utilib counter       2816 non-null   int64
 4   Utilib 1.4 counter   2816 non-null   int64
 5   Charge Slots         2816 non-null   int64
 6   Charging Status      2816 non-null   object
 7   City                 2816 non-null   object
 8   Displayed comment    67 non-null     object
 9   ID                   2816 non-null   object
 10  Kind                 2816 non-null   object
 11  Geo point            2816 non-null   object
 12  Postal code          2816 non-null   int64
 13  Public name          2816 non-null   object
 14  Rental status        2816 non-null   object
 15  Scheduled at         9 non-null      object
 16  Slots                2816 non-null   int64
 17  Station type         2816 non-null   object
 18  Status               2816 non-null   object
 19  Subscription status  2816 non-null   object
 20  year                 2816 non-null   int64
 21  month                2816 non-null   int64
 22  day                  2816 non-null   int64
 23  hour                 2816 non-null   int64
 24  minute               2816 non-null   int64
dtypes: int64(12), object(13)
memory usage: 572.0+ KB

Dropping columns that are not needed

In [42]:
ideal_set.drop(['Cars', 'month','year','City','Displayed comment',
                'Scheduled at','Geo point','Public name',
                'Station type','Postal code','Address','ID','Charge Slots','Kind'], axis = 1,inplace= True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [43]:
ideal_set.drop(['minute'],axis=1,inplace= True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [44]:
ideal_set.head()

   Bluecar counter  Utilib counter  ...  day hour
0                0               0  ...    8   11
1                6               0  ...    6    7
3                3               1  ...    4    4
4                3               0  ...    8   17
5                0               0  ...    6    7

[5 rows x 10 columns]

In [45]:
ideal_set.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charging Status        False
Rental status          False
Slots                  False
Status                 False
Subscription status    False
day                    False
hour                   False
dtype: bool

In [46]:
ideal_set.isnull().sum()

Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charging Status        0
Rental status          0
Slots                  0
Status                 0
Subscription status    0
day                    0
hour                   0
dtype: int64

# Data Analysis

In [58]:
ideal_set.groupby('hour')['Bluecar counter'].sum().sort_values(ascending= False)

hour
21    268
6     260
12    250
9     250
3     242
5     235
8     234
10    232
7     225
2     221
15    218
4     209
16    208
1     207
13    207
0     206
11    201
22    197
19    193
18    192
23    191
17    187
14    163
20    149
Name: Bluecar counter, dtype: int64

In [0]:
available1=ideal_set['Rental status']=='operational'

In [49]:
available1.unique()

array([ True, False])

In [0]:
available2 = ideal_set['Status']== 'ok'

In [69]:
available2.unique()

array([ True, False])

In [0]:
available3 = ideal_set['Subscription status']=='operational'

In [54]:
available3.unique()

array([False,  True])

In [81]:
ideal_set[available2 & available1 & available3]

      Bluecar counter  Utilib counter  ...  day hour
20                  3               0  ...    5    6
79                  0               0  ...    2    3
85                  0               0  ...    1    7
90                  0               0  ...    6    7
93                  2               0  ...    6    7
...               ...             ...  ...  ...  ...
4812                3               0  ...    5    3
4830                3               0  ...    1   13
4890                0               0  ...    1   18
4901                1               0  ...    2   21
4973                5               0  ...    9   13

[96 rows x 10 columns]

In [0]:
 paris_available = ideal_set[available2 & available1 & available3]

In [83]:
paris_available.head()

    Bluecar counter  Utilib counter  ...  day hour
20                3               0  ...    5    6
79                0               0  ...    2    3
85                0               0  ...    1    7
90                0               0  ...    6    7
93                2               0  ...    6    7

[5 rows x 10 columns]

In [84]:
paris_available.groupby('hour')['Bluecar counter'].sum()

hour
0      5
1     12
2      3
3      3
4     13
5      5
6     12
7     15
8      2
9     16
10    12
11     6
13     8
14     0
15     1
16    10
17     1
18     5
19    14
20     1
21     9
22     1
23     9
Name: Bluecar counter, dtype: int64

In [85]:
paris_available.groupby('hour')['Bluecar counter'].sum().sort_values(ascending = False)

hour
9     16
7     15
19    14
4     13
10    12
1     12
6     12
16    10
23     9
21     9
13     8
11     6
5      5
18     5
0      5
3      3
2      3
8      2
22     1
15     1
17     1
20     1
14     0
Name: Bluecar counter, dtype: int64

# Bonus Questions